:root {
    --lime-50: #f7fee7;
    --lime-100: #ECFCCB;
    --lime-200: #D9F99D;
    --lime-300: #BEF264;
    --lime-400: #A3E635;
    --lime-500: #84CC16;
    --lime-600: #65A30D;
    --lime-700: #4D7C0F;
    --lime-800: #3F6212;
    --lime-900: #365314;
    --gray-50: #f9fafb;
    --gray-100: #F3F4F6;
    --gray-200: #E5E7EB;
    --gray-300: #D1D5DB;
    --gray-400: #9CA3AF;
    --gray-500: #6B7280;
    --gray-600: #4B5563;
    --gray-700: #374151;
    --gray-800: #1F2937;
    --gray-900: #111827;
}

body {
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

html {
    font-family: 'Sinkin Sans 400', 'Inter 400', sans-serif;
    scroll-behavior: smooth;
}

#wrapper,
.news-banner-container {
    max-width: 1232px;
    width: 100%;
    margin: 0 auto;
}

#header_container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header-bg {
    background-color: var(--lime-50);
    position: absolute;
    top: 0;
    height: 338px;
    z-index: -1;
    width: 100vw;
}

#header {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding-top: 28px;
}

#nav {
    max-width: 570px;
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
}

#menu-toggle {
    display: none;
}

#menu {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
}

.menu-mobile {
    display: none;
}

#menu li a {
    text-decoration: none;
    color: var(--gray-700);
    font-size: 0.875rem;
    font-family: 'Sinkin Sans 500';
}

#menu li {
    cursor: pointer;
}

#menu li:not(:last-child):hover a {
    text-decoration: underline;
}

#menu li:last-child a {
    padding: 9px 12px;
    border-radius: 8px;
    background-color: var(--lime-400);
    transition: all .3s ease;
}

#menu li:last-child a:hover {
    background-color: var(--lime-500);
}

#container {
    width: 100%;
}

#content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-smaller {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#content h1, #content-smaller h1 {
    text-align: center;
    margin-top: 60px;
    font-family: 'Sinkin Sans 500';
}

#content-news {
    flex: 70;
    max-width: calc(75% - 40px);
    margin: 20px 0 0 0;
    margin-right: 40px;
}

#content-news h1 {
    text-align: left;
    line-height: 120%;
    margin-top: 0;
    color: var(--gray-700);
    border-radius: 8px;
    font-family: 'Sinkin Sans 500';
}

#content-news h3 {
    color: var(--gray-700);
}

#content-news p {
    color: var(--gray-600);
    font-family: 'Inter 400';
}

#content-news img {
    max-width: 100%;
}

#section-navigation {
    width: 100%;
    margin: 40px 0 80px 0;
}

#section-navigation a {
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    color: var(--lime-700);
    font-family: 'Inter 300';
}

.prev {
    float: left;
}

.next {
    float: right;
}

.content-box h2,
.content-box h3,
.content-box h4 {
    font-family: 'Sinkin Sans 600';
    align-self: flex-start;
}

.content-box h2 {
    font-size: 1.35rem;
    margin: 12px 0 0 0;
}

.content-box h3 {
    font-size: 1.20rem;
    margin-bottom: 0px;
}

.content-box h4 {
    font-size: 1.125rem;
    margin-bottom: 0px;
}

.content-box p {
    margin-top: 10px;
    align-self: flex-start;
}

#section-navigation a:hover {
    text-decoration: underline;
    color: var(--lime-900);
}

#section-navigation a.disabled {
    display: none;
}

#section-navigation a:first-child h4 {
    text-align: left;
}

#section-navigation a:last-child h4 {
    text-align: right;
}

#section-navigation a h4 {
    margin: 0px;
    padding: 0 60px;
}

#sidebar {
    flex: 30;
    margin: 40px 0 0 0;
    position: sticky;
    top: 0;
}

#content-news .date-author {
    color: var(--gray-500);
    text-transform: uppercase;
    font-weight: 400;
    align-self: flex-start;
}

#content-news .content-box {
    padding: 60px;
    width: calc(100% - 120px);

}

#sidebar h4 {
    color: var(--);
    font-family: 'Sinkin Sans 300';
    margin: 12px 0;
}

#sidebar a {
    text-decoration: none;
    box-shadow: -2px 0 0 var(--gray-200);
    color: var(--lime-700);
    font-size: 0.875rem;
    display: inline-block;
    font-family: 'Sinkin Sans 300';
    padding: 6px 0 6px 20px;
    transition: all .3s ease;
    font-family: 'Inter 300';
}

.content-box {
    background-color: white;
    border-radius: 8px;
    width: calc(100% - 80px);
    padding: 40px;
    border: 2px solid var(--gray-200);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-box p:first-child {
    margin-top: 0;
}

figure {
    display: inline-block;
    width: 80%;
    margin: 0;
    margin: 30px 0;
}

figure a {
    display: inline-block;
    margin-bottom: 16px;
}

figure figcaption p {
    font-style: italic;
    text-align: center;
}

figure img {
    width: 100%;
}

.content-container p {
    line-height: 150%;
    text-transform: none;
}

.content-box a {
    color: var(--lime-700);
}

.content-box a:visited {
    color: var(--lime-900);
}

.content-box ul li {
    font-family: 'Inter 400';
    margin: 8px 0;
}

.content-container a {
    color: var(--lime-700);
}

.content-container a:visited {
    color: var(--lime-900);
}

#sidebar a:hover {
    color: var(--lime-900);
    box-shadow: -2px 0 0 var(--lime-900);
    text-decoration: underline;
}

#sidebar a li {
    list-style-type: none;
}

#container-bg {
    position: absolute;
    width: 100vw;
    top: -75px;
    left: -10vw;
    bottom: 0;
    justify-self: center;
    z-index: -1;
    background-color: var(--lime-50);
}

.home-main {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 65px;
}

.home-main .text {
    max-width: 607px;
    width: 100%;
}

#content .home-main h1 {
    color: var(--gray-900);
    font-size: 3rem;
    font-family: 'Sinkin Sans 700';
    letter-spacing: -1.2px;
    line-height: 3rem;
    margin: 0 0 20px;
    text-align: left;
}

#content .home-main h1 span {
    text-align: left;
    color: var(--lime-600);
}

.home-main p {
    color: var(--gray-500);
    font-family: 'Inter 400';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 28px;
    margin: 0;
    margin-bottom: 20px;
}

#second-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.news-banner {
    width: 100vw;
    background-color: var(--gray-700);
    padding-top: 54px;
    padding-bottom: 54px;
}

.news-banner-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.news-banner h3 {
    color: #FFF;
    font-family: 'Sinkin Sans 700';
    font-size: 24px;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.6px;
    margin: 0;
}

.latest-news {
    max-width: 825px;
    width: 100%;
}

.latest-news a {
    text-decoration: none;
    display: inline-block;
}

.latest-news p {
    color: #FFF;
    font-family: 'Sinkin Sans 600';
    font-size: 14px;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.35px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 14px;
}

.latest-news h2 {
    color: var(--lime-400);
    font-family: 'Sinkin Sans 600';
    font-size: 20px;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.5px;
    margin: 0;
}

.latest-news a {
    text-decoration: none;
    color: var(--lime-400);
}

.latest-news a:hover {
    text-decoration: underline;
}

.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 118px;
    margin-bottom: 77px;
}

.services-container h3 {
    color: var(--gray-900);
    font-family: 'Sinkin Sans 700';
    font-size: 24px;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.6px;
    margin: 0 0 13px;
}

.services-container p {
    color: var(--gray-500);
    text-align: center;
    font-family: 'Inter 400';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 480px;
    margin: 0 0 72px;
}

.services {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

#release-text {
    font-size: 14px;
    color: var(--gray-800);
}

.service {
    flex: 1;
    width: 25%;
}

.service .text h4 {
    color: var(--gray-900);
    font-family: 'Sinkin Sans 700';
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    margin-top: 52px;
    margin-bottom: 0;
}

.service .text p {
    color: var(--gray-500);
    /* font-family: Inter; */
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 0;
}

.hiring-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hiring-container h3 {
    color: var(--gray-800);
    text-align: center;
    font-family: 'Sinkin Sans 700';
    font-size: 24px;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.6px;
    margin: 0 0 28px 0;
    padding-top: 52px;
    border-top: solid 1px var(--gray-500);
    width: max-content;
}

.hiring, .news-article {
    padding: 50px 40px;
    border-radius: 8px;
    background: #FFF;
    width: calc(711px - 80px);
}

.hiring {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10), 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.hiring a,
.hiring a p,
.hiring a h4 {
    text-decoration: none;
}

.hiring p {
    color: var(--gray-800);
    font-family: 'Sinkin Sans 600';
    font-size: 14px;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.35px;
    text-transform: uppercase;
    margin: 0 0 14px;
}

.hiring h4 {
    color: var(--lime-600);
    font-family: 'Sinkin Sans 700';
    font-size: 20px;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.5px;
    margin: 0;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#footer ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 32px;
}

#footer ul li {
    font-family: 'Sinkin Sans 500';
    font-size: 0.875rem;
    font-style: normal;
    line-height: 24px;
}

#footer ul li a {
    text-decoration: none;
    color: var(--gray-500);
}

#footer ul li a:hover {
    text-decoration: underline;
}

#content p, #content-smaller p {
    font-family: 'Inter 400';
}

#content-smaller p {
    line-height: 150%;
}

.bigger-width {
    width: 100%;
}

#content-smaller ul li {
    line-height: 150%;
}

#socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 32px;
}

#socials svg, #socials rect {
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: all .3s ease;
}

#socials a {
    text-decoration: none;
    color: none;
}

#socials svg path {
    transition: all .3s ease;
}

#socials svg:hover path {
    fill: var(--gray-700);
}

#footer_container {
    margin-top: 60px;
    border-top: 2px solid var(--gray-200);
    width: 100%;
}

.content-box p {
    align-self: flex-start;
}

.content-box ul {
    align-self: flex-start;
    padding-left: 16px;
}

#footer {
    margin-top: 40px;
}

#footer p {
    color: var(--gray-600);
    text-align: center;
    font-family: 'Inter 400';
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    margin: 0 0 40px;
}

.news-article {
    margin-bottom: 20px;
    width: calc(60% - 80px);
    border: 2px solid var(--gray-200);
    transition: all .3s ease;
}

.news-article:first-child {
    margin-top: 80px;
}

.news-article:last-child {
    margin-bottom: 80px;
}

.news-article h1 a {
    color: var(--lime-600);
    text-decoration: none;
    font-size: 1.5rem;
}

.news-article h1 a:hover {
    text-decoration: underline;
}

.news-article .blog-post-meta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 4px;
    font-size: 0.875rem;
}

.news-article address {
    display: inline-block;
    font-style: normal;
}

.news-article h1 {
    text-align: center;
    font-family: 'sinkin sans 700';
    font-size: 20px;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -.5px;
    margin: 20px 0 !important;
}

.news-article .description {
    font-family: 'Inter 400';
}

#screenshots {
    overflow-x: scroll;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 12px;
}

#screenshots a {
    display: inline-block;
    width: 30%;
    min-width: 30%;
}

.description a {
    display: block;
    width: min-content;
    margin-top: 16px;
    margin: 0 auto;
    margin-top: 20px;
    color: var(--lime-600);
    text-decoration: none;
}

.description a:hover {
    text-decoration: underline;
}

.download-links {
    transform: translateX(-10px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
}

.download-links a {
    width: 50%;
}

.main-image_container {
    margin-right: 100px;
    overflow-y: hidden;
    height: 450px;
}

.image-link {
    width: 49%;
    display: inline-block;
}

.image-link img {
    width: 100%;
}

#further-information {
    align-self: flex-start;
}

.donate-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0 20px;
}

#liberapay-button {
    display: inline-block;
    margin: 0;
    height: max-content;
    text-decoration: none;
}

#liberapay-button img {
    width: 83px;
}

.donate-section p {
    margin-bottom: 0 !important;
    margin-left: 10px !important;
    margin-left: 10px;
    font-family: 'Inter 400';
    font-size: 14px;
    color: var(--gray-600);
}

#announcements-and-press-releases, #media-appearances, #videos-and-talks {
    align-self: flex-start;
    margin-bottom: 0;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    font-family: 'Inter 400';
    font-size: 0.875rem;
}

th {
    font-family: 'Inter 400';
    text-align: left;
}

tr td:first-child {
    padding-right: 12px;
}

figure.mobile-photo {
    display: none;
}

#close-button {
    display: none;
}

.menu-mobile input {
    display: none;
}

#logo {
    cursor: pointer;
    height: 40px;
}

.news_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    align-self: flex-start;
    margin-top: 40px;
}

.newsletter {
    margin-top: 32px;
}

#newsletter {
    padding: 8px 16px;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--gray-300);
    text-decoration: none;
    font-family: 'Sinkin Sans 400';
    font-size: 0.75rem;
    color: var(--gray-600);
    transition: all 0.3s ease;
    background-color: var(--gray-100);
}

#newsletter:hover {
    background-color: var(--gray-200);
}

@media only screen and (min-width: 1440px) {
    #container-bg {
        left: calc(-1*((100vw - (1232px))/2));
    }
}

@media only screen and (max-width: 1250px) {

    #wrapper,
    .news-banner-container {
        max-width: 80vw;
    }

    .main-image_container {
        margin-right: 0;
    }

    .home-main .text {
        max-width: 500px;
    }

    #content-smaller {
        width: 80%;
    }

    .news-article {
        width: calc(100% - 80px);
    }

    #screenshots a {
        width: 50%;
        min-width: 50%;
    }
}

@media only screen and (max-width: 992px) {

    #menu {
        display: none;
    }

    .home-main {
        flex-direction: column;
        align-items: center;
    }

    .main-image_container {
        margin-right: 0;
    }

    .news-banner-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .news-banner-container h3 {
        margin-bottom: 32px;
    }

    .services {
        display: grid;
        grid-gap: 32px 12px;
        grid-template-columns: repeat(2, 1fr);
    }

    .service {
        width: 100%;
        display: flex;
        align-items: center;
    }

    #content .home-main h1 {
        font-size: 2.5rem;
        margin-bottom: 12px;
    }

    .home-main p {
        font-size: 1.125rem;
        line-height: 130%;
    }

    .home-main #main-image {
        margin-top: 40px;
    }

    .services-container {
        margin-top: 60px;
    }

    .service img {
        margin-right: 12px;
    }

    .service .text h4 {
        margin-top: 0;
    }

    #second-section {
        transform: translateY(0);
    }

    .main-image_container {
        overflow-y: hidden;
        height: calc(596px - 275px);
    }

    .download-links img {
        width: 178px;
    }

    #nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .home-main {
        padding-top: 20px;
    }

    .menu-mobile {
        display: inline-block;
        float: right;
    }

    .mobile-overlay {
        display: none;
        width: calc(80vw - 140px);
        padding: 20px 0;
        align-self: flex-end;
        margin-top: 60px;
        transform: translateX(-140px);
    }

    .menu-mobile label {
        z-index: 10000;
        position: relative;
        float: right;
        cursor: pointer;
    }

    .menu-mobile input:checked~.mobile-overlay {
        display: block;
    }

    .menu-mobile input:checked~label #hamburger-button {
        display: none;
    }

    .menu-mobile input:checked~label #close-button {
        display: inline-block;
    }

    .menu-mobile #menu {
        display: inline-block;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .menu-mobile #menu li:last-child a {
        padding: 0;
        background-color: transparent;
    }

    .menu-mobile #menu li:first-child {
        margin-top: 0;
    }

    .menu-mobile #menu li {
        margin-top: 20px;
    }

    .news_container {
        flex-direction: column;
        width: 100%;
    }

    #content-news {
        flex: 100;
        max-width: 100%;
        margin-right: 0;
    }

    #sidebar {
        margin-top: 0;
        flex: 60;
        max-width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 875px) {

    #footer ul {
        flex-direction: column;
        gap: 12px;
    }
}

@media only screen and (max-width: 768px) {

    #wrapper, .news-banner-container {
        max-width: 93vw;
    }

    #screenshots a {
        width: 60%;
        min-width: 60%;
    }

    .mobile-overlay {
        width: calc(93vw - 140px);
        transform: translateX(-140px);
    }

    #container-bg {
        position: absolute;
        width: 100vw;
        top: -75px;
        left: -3.5vw;
        bottom: 0;
        justify-self: center;
        z-index: -1;
        background-color: var(--lime-50);
    }

    #content h1, #content-smaller h1 {
        font-size: 24px;
        margin-top: 40px !important;
    }

    #content h1#main-title {
        margin-top: 20px !important;
    }

    .content-box, .news-article {
        padding: 20px;
        width: calc(100% - 40px);
    }

    ul {
        padding-left: 16px;
    }

    .services {
        grid-template-columns: repeat(1, 1fr);
    }

    .services-container p {
        text-align: left;
    }

    .service {
        width: unset;
        margin: 0 auto;
    }

    #content-smaller {
        width: 100%;
    }

    .service .text {
        max-width: 250px;
    }

    .donate-section {
        flex-direction: column;
        align-items: center;
    }

    #footer .donate-section p {
        margin-top: 20px;
        line-height: 150%;
        margin-left: 0px !important;
    }

    #copyright {
        margin: 0 20px 40px 20px;
    }
}

@media only screen and (max-width: 426px) {
    #logo {
        width: 105px;
    }

    #header {
        padding-top: 12px;
    }

    .mobile-overlay {
        width: calc(93vw - 105px);
        transform: translateX(-105px);
        margin-top: 40px;
    }

    #screenshots a {
        width: 80%;
        min-width: 80%;
    }

    #logo img {
        width: 100%;
    }

    figure {
        width: 100%;
    }

    .news-article .blog-post-meta {
        justify-content: flex-start;
    }

    #content .news-article .blog-post-title {
        text-align: left !important;
        margin-top: 12px !important;
        margin-bottom: 0 !important;
    }

    .download-links img {
        width: 100%;
    }

    figure.desktop-photo {
        display: none;
    }

    figure.mobile-photo {
        display: inline-block;
    }

    #content .news-article .blog-post-title a {
        line-height: 120% !important;
        font-size: 20px !important;
    }

    .news-article .description {
        font-size: 14px;
        margin-top: 12px;
    }

    .description a {
        margin: 0;
        margin-top: 12px;
    }

    #footer ul {
        margin-top: 32px;
    }

    #footer ul li {
        font-size: 14px;
    }

    .news-article:last-child {
        margin-bottom: 0;
    }

    #content-news .content-box {
        padding: 20px;
        width: calc(100% - 40px);
    }

    #sidebar {
        flex: 80;
        max-width: 80%;
    }
}