<figure class="bigger-width desktop-photo"><a href="/img/howitworks3.svg"><img src="/img/howitworks3.svg" alt="Sharing data with Briar via Wi-Fi, Bluetooth and Internet"></a><figcaption>
    <p>Briar can share data via Wi-Fi, Bluetooth and the Internet.</p>
</figcaption>
</figure>
<figure class="bigger-width mobile-photo"><a href="/img/howitworks3(mobile).svg"><img src="/img/howitworks3(mobile).svg" alt="Sharing data with Briar via Wi-Fi, Bluetooth and Internet"></a><figcaption>
    <p>Briar can share data via Wi-Fi, Bluetooth and the Internet.</p>
</figcaption>
</figure>