 <div id="footer_container">
    <div id="footer">
      <img src="/img/briar-gray.svg" alt="Briar Logo Gray">
      <ul>
        <li><a href="/copyright">Copyright</a></li>
        <li><a href="/privacy-policy">Privacy</a></li>
        <li><a href="/governance">Governance</a></li>
        <li><a href="/code-of-conduct">Code of Conduct</a></li>
        <li><a href="/press">Press</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/hiring">Jobs</a></li>
      </ul>
      <div id="socials">
        <img src="/img/x-twitter.svg" alt="Twitter Logo">
        <img src="/img/mastodon.svg" alt="Twitter Logo">
        <img src="/img/gitlab.svg" alt="Twitter Logo">
      </div>
      <div class="donate-section">
        <a id="liberapay-button" href="https://liberapay.com/Briar/donate">
          <img src="/img/liberapay.svg" alt="Donate Here">
        </a>
        <p>Bitcoin and BCH: 1NZCKkUCtJV2U2Y9hDb9uq8S7ksFCFGR6K </p>
      </div>
      <p>Content on this website is (c) 2023 Sublime Software Ltd.</p>
    </div>
  </div>
