 <div id="footer_container">
    <div id="footer">
      <div id="signup2">
        <div class="twitter2">
          <a href="https://code.briarproject.org/briar" rel="noopener noreferrer"><img class="twitterbutton" src="/img/gitlab.png" alt="Small GitLab logo"/></a>
        </div>
        <div class="twitter2">
          <a href="https://twitter.com/BriarApp" rel="noopener noreferrer"><img class="twitterbutton" src="/img/twitter.png" alt="Small Twitter logo"/></a>
        </div>
        <form id="signupform2" action="https://sourceforge.net/projects/briar/lists/briar-announce" rel="noopener noreferrer" method="get" onSubmit="submitForm2()">
          <input placeholder="Email address" type="email" name="email" tabindex="2"/>
          <button name="submit" type="submit" id="signup-submit2">Keep me updated</button>
        </form>
        <div id="signupconf2">Thanks! We'll keep you updated.</div>
        <script>
        <!--
        function submitForm2(){
            document.getElementById('signupform2').style.display = 'none';
            document.getElementById('signupconf2').style.display = 'block';
            return true;
        }
        //-->
        </script>
      </div> <!-- signup2 -->
      <ul>
        <li><a href="/copyright">Copyright</a></li>
        <li><a href="/privacy-policy">Privacy</a></li>
        <li><a href="/governance">Governance</a></li>
        <li><a href="/code-of-conduct">Code of Conduct</a></li>
        <li><a href="/press">Press</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/hiring">Jobs</a></li>
        <li>Site design by Reflective Spaces</li>
      </ul>
    </div> <!-- footer -->
  </div> <!-- footer_container -->
