<div id="header_container">
  <div {{ if .IsHome }} class="header-bg" {{ else }}{{end}}></div>
  <div id="header">
    <a href="/">
      <div id="logo"><img src="/img/briar-logo-header.svg" alt="Briar" class="logo" /></div>
    </a>
    <div id="nav">
      <ul id="menu">
        {{ range $index, $item := .Site.Menus.main }}
        {{ if ne $index 0 }}
        <li>
          <a href="{{ .URL }}">{{ $item.Name }}</a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
      <div class="menu-mobile">
        <input type="checkbox" id="hamburger"/>
        <label for="hamburger">
          <img src="/img/bars-solid.svg" height="28px"  id="hamburger-button">
          <img src="/img/xmark-solid.svg" height="28px" id="close-button">
        </label>
        <div class="mobile-overlay">
          <ul id="menu">
            {{ range $index, $item := .Site.Menus.main }}
            {{ if ne $index 0 }}
            <li>
              <a href="{{ .URL }}">{{ $item.Name }}</a>
            </li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
    </div> <!-- nav -->
  </div> <!-- header -->
</div> <!-- header_container -->